## jhon brice lesson 1

# Markdown Demo

This is a markdown cell. It is used to write text in the notebook. It is a simple way to write and format text. You can use markdown to make your text **bold**, *italic*, or even include [links](https://www.kaggle.com/).

You can make lists like this:
- First item
- Second item
- Third item

LaTeX equations can be included as well:

$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$
$$\frac{1}{\Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{\frac25 \pi}} = 1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}} {1+\frac{e^{-6\pi}} {1+\frac{e^{-8\pi}} {1+\ldots} } } }$$

### data types and variable

In [3]:
my_int = 5
my_float = 5.5
my_string = "mendel"
my_bool = True
my_complex = 2 + 5j

### Operators

In [4]:
# number operations
a = 5
b = 2
print('a + b', a + b)
print('a - b', a - b)
print('a * b', a * b)
print('a / b', a / b)
print('a // b', a // b)
print('a % b', a % b)
print('a ** b', a ** b)
# string operations
a = 'hello'
b = 'world'
print('a + b', a + b)
print('a * 3', a * 3)
# boolean operations    
a = True
b = False
print('a and b', a and b)
print('a or b', a or b)
print('not a', not a)

a + b 7
a - b 3
a * b 10
a / b 2.5
a // b 2
a % b 1
a ** b 25
a + b helloworld
a * 3 hellohellohello
a and b False
a or b True
not a False

### string methods

In [9]:
my_string = "mendel , sellam "
print(my_string)
print(my_string.upper())
print(my_string.count('l'))
print(my_string.split(','))
print(my_string)

mendel , sellam
MENDEL , SELLAM
3
['mendel ', ' sellam ']
mendel , sellam

### string is sequaence of caracter 
### the slicing is take in acount the first but not the last in ex: [0:5] = from 0 to the 4

In [21]:
my_str = 'mendel sellami'
print(my_str[0])
print(my_str[-1])

print(my_str[0:5])
print(my_str[2:5])
## inverse 
print(my_str[::-1])
print(my_str[-5:])
start , stop , step = 1 , 3, 4 
print(my_str[start:step:stop])

m
i
mende
nde
imalles lednem
llami
e

### string location         
### .2f is to reasive after point

In [25]:
location_x = 5.52525
location_y = 7.54545
length = 10
name = 'john'
print(f'{name} is at ({location_x}, {location_y})')
print(f'{name} is at ({location_x:.2f}, {location_y:.2f})')
print('{} is at ({:.2f}, {:.2f})'.format(name, location_x, location_y))

john is at (5.52525, 7.54545)
john is at (5.53, 7.55)
john is at (5.53, 7.55)

### List

In [34]:
my_lst = [1,2,3,4,5,6]
print(my_lst)
my_lst[0] = 10 # update a list as at location 0
print(my_lst)
my_lst.append(6)
print(my_lst)
my_lst.insert(3,0)
print(my_lst)
item = my_lst.pop(0)
print('my_lst pop' , item)

[1, 2, 3, 4, 5, 6]
[10, 2, 3, 4, 5, 6]
[10, 2, 3, 4, 5, 6, 6]
[10, 2, 3, 0, 4, 5, 6, 6]
my_lst pop 10

In [36]:
my_lst1 = [1, 2, 3, 4, 5]
my_lst2 = [6, 7, 8, 9, 10]
print(my_lst1 + my_lst2)
print(my_lst1 * 3)
# list slice are references
my_lst1[2:4] = [30, 40]
print(my_lst1)
my_lst1[2:4] = [30, 40, 50, 60]
print(my_lst1)
my_lst1[2:4] = []
print(my_lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 30, 40, 5]
[1, 2, 30, 40, 50, 60, 5]
[1, 2, 50, 60, 5]

### Tuples

In [41]:
my_tup = (1, 2, 3, 4, 5)
print(my_tup)
print(my_tup[0])
print(my_tup[1:4])
# my_tup[0] = 10 # error
my_tup = (10, 20, 30, 40, 50)
print(my_tup)
a, b, c, d, e = my_tup
print(a, b, c, d, e)

# to transforme tuples to lst 
print(f'transforme tuples to lst {list(my_tup)}')

(1, 2, 3, 4, 5)
1
(2, 3, 4)
(10, 20, 30, 40, 50)
10 20 30 40 50
transforme tuples to lst [10, 20, 30, 40, 50]

### Sets (good to no cduplicate)

In [48]:
my_set1 = {1, 2, 3, 4, 5, 5, 1}
my_set2 = {4, 5, 6, 7, 8}
print(my_set1)
# print(my_set1[0]) # error
# print True if number one is in my set and False if not 
print(1 in my_set1)
print(1 in my_set2)
print('my_set1', my_set1)
print('my_set2', my_set2)
print('my_set1 - my_set2', my_set1 - my_set2)
print('my_set2 - my_set1', my_set2 - my_set1)
print('my_set1 | my_set2', my_set1 | my_set2) # OR 
print('my_set1 & my_set2', my_set1 & my_set2) # AND
print('my_set1 ^ my_set2', my_set1 ^ my_set2) # XOR

{1, 2, 3, 4, 5}
True
False
my_set1 {1, 2, 3, 4, 5}
my_set2 {4, 5, 6, 7, 8}
my_set1 - my_set2 {1, 2, 3}
my_set2 - my_set1 {8, 6, 7}
my_set1 | my_set2 {1, 2, 3, 4, 5, 6, 7, 8}
my_set1 & my_set2 {4, 5}
my_set1 ^ my_set2 {1, 2, 3, 6, 7, 8}

### Dictionary

In [58]:
my_d = {
    'name': 'John',
    'age': 30,
    'is_student': False
}
print(my_d)
print(my_d['name'])
print(my_d['age'])
print(my_d['is_student'])
my_d['name'] = 'Jane'
print(my_d)
my_d['is_teacher'] = True
print(my_d)
del my_d['is_teacher']
print(my_d)
my_d['age'] += 1
print(my_d)
print(type(my_d["age"]))
print(type(my_d["name"]))

{'name': 'John', 'age': 30, 'is_student': False}
John
30
False
{'name': 'Jane', 'age': 30, 'is_student': False}
{'name': 'Jane', 'age': 30, 'is_student': False, 'is_teacher': True}
{'name': 'Jane', 'age': 30, 'is_student': False}
{'name': 'Jane', 'age': 31, 'is_student': False}
<class 'int'>
<class 'str'>